// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background: -webkit-linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60)), url('/assets/backpackers.jpg');
	background: -moz-linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60)), url('/assets/backpackers.jpg');
	background: linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60)), url('/assets/backpackers.jpg');
	background-size: 1440px 900px;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	height: 100%;
}

#title {
	font-size: 82px;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
}

#buttonOne {
	height: 150px;
	width: 270px;
	font-size: 52px;
	color: #444444;
	border-radius: 10px;
}

#buttonTwo {
	height: 150px;
	width: 270px;
	font-size: 52px;
	color: #444444;
	border-radius: 8px;
}

#buttonAlignmentt {
	margin-top: 13%;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
}

p {
	text-align: center;
}

li {
	display: inline-block;
	color: #fff;
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
	font-weight: 300;
}

ul {
	text-align: center;
}

#theHeader {
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0 0 0 -50%;
	left: 50%;
}



#theMiddle {
	position: fixed;
	width: 100%;
	top: 40%;
}

#theFooter {
	position: fixed;
	bottom: 0;
	width: 100%;
	margin: 0 0 0 -50%;
	left: 49%;
}



#signupModal {

	
}

#signinModal {
	
}