// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#buttonOne {
	height: 150px;
	width: 270px;
	font-size: 45px;
	border-radius: 8px;
}

#buttonTwo {
	height: 150px;
	width: 270px;
	font-size: 45px;
	border-radius: 8px;
}

#signupModal {

	
}

#signinModal {
	
}