
<html>
<head>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvQPK_z7tyIdBpGxui6Jps_zZsPudqzJ4"> </script>

<script type="text/javascript">

var mapStyle = [{"featureType":"landscape","stylers":[{"hue":"#FFA800"},{"saturation":0},{"lightness":0},{"gamma":1}]},{"featureType":"road.highway","stylers":[{"hue":"#53FF00"},{"saturation":-73},{"lightness":40},{"gamma":1}]},{"featureType":"road.arterial","stylers":[{"hue":"#FBFF00"},{"saturation":0},{"lightness":0},{"gamma":1}]},{"featureType":"road.local","stylers":[{"hue":"#00FFFD"},{"saturation":0},{"lightness":30},{"gamma":1}]},{"featureType":"water","stylers":[{"hue":"#00BFFF"},{"saturation":6},{"lightness":8},{"gamma":1}]},{"featureType":"poi","stylers":[{"hue":"#679714"},{"saturation":33.4},{"lightness":-25.4},{"gamma":1}]}];


function initialize() {
	var mapOptions = {
	   center : {
				lat: 34.0218628,
				lng: -118.4804206
				},
		zoom: 10,
		styles: mapStyle
	};
  
  var map = new google.maps.Map(document.getElementById('map'), mapOptions);

  var mapPoints = [<% @map.each do |mp| %>
  	{latitude: <%= mp.latitude %>, longitude: <%= mp.longitude %>},<% end %>];

  for(var i = 0; i < mapPoints.length; ++i)
  {
	  var someCoolPlace = new google.maps.LatLng(mapPoints[i].latitude, mapPoints[i].longitude);
	  var marker = new google.maps.Marker({
	    position: someCoolPlace,
	    title: 'Fave Beach #2',
	    map: map,
	    animation: google.maps.Animation.BOUNCE,
	    icon: "http://www.balzacbrasserie.com/images/featured_boxes/cocktail.png",
	    draggable: true
	  });
	}

}




// Onload handler to fire off the app.
google.maps.event.addDomListener(window, 'load', initialize);

</script>

</head>

<body>
<br>
<p class="p-heading">Map and Geolocation!</p><br>

<div id="container">

<div id="map">Map!</div>
</div>

<div id="mapData">





<!--
<button onclick="navigator.geolocation.getCurrentPosition(success)">Click to get your current position!</button>
-->
<div id="currentPosition">Disappear on click!</div>
<input type="text" id="prepopulate"></input>


</div>

</div>

</body>
</html>

