<span>
	<% if logged_in? %> 
		<p>You're logged in</p>
		<%= link_to "Log out", log_out_path, method: :delete %>: 
	<% else %>
		<p>You're logged out</p>
		<%= link_to "Log in", sessions_path %><br>
		<%= link_to "Sign up", signup_path %>
	<% end %>
		<br></span>

<br>


