// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/************************* POSTS (COMMON ELEMENTS) ************************/ 

body {
  background-color: #fff !important;
  font-family: 'Poppins' !important;
  font-weight: 300 !important;
  color: #222 !important;
}

.user-nav {
  width: 100%;
  margin-bottom: 4em;
  display: block;
  text-align: right;
  background-color: #222;

  span {
    font-size: 1.6em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  a, a:visited, a:hover {
    color: #fefefe;
    font-size: 1.1em;
  } 
}


/************************* POSTS (INDEX.HTML.ERB) *************************/


#postIndexMap {
  height: 370px;
  width: 81%;
  display: table;
  border-radius: 7px;
  margin: 0 auto;
  margin-bottom: 50px;
}

#post-index-container {
  width: 85%;
  display: table;
  margin: 0 auto;
}

#post-index-container > p {
  font-size: 2.8em;
  margin-bottom: 1.2em;
  text-align: center;
}

.posts-info-div {

  width: 33.1%;
  display: inline-block;
  text-align: center;

  img {
    border-radius: 50%;
    height: 340px;
    width: 340px;
    display: table;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

.p-i-city-country {
  font-size: 1.7em;
  color: #222;
  margin-bottom: -2px; 
  font-weight: 400;
}

.p-i-rating {
  font-size: 1.3em;
  color: #009999;
}

.p-i-days-ago {
  font-size: 1.15em;
  color: #222;
}

a:hover {
  text-decoration: none !important;
  font-weight: 500;

  .p-i-city-country {
    font-weight: 500;
  }
}

@media (max-width: 1440px) {
  .posts-info-div {
    width: 29.9% !important;
  }

  .p-i-city-country {
    font-size: 1.4em !important;
  }

  .p-i-rating {
    font-size: 1.1em !important;
  }

  .p-i-days-ago {
    font-size: 0.95em !important;
  }
}


  
/************************** POSTS (NEW.HTML.ERB) ***************************/


.p-n-container {
  margin-top: -55px;
  width: 84% !important;
}

.p-n-panel-heading {
  font-size: 1.1em;
  text-align: center;
  background-color: #222 !important; /*#006767*/
  color: #fff !important;
  border: none !important;
}

.p-n-panel-body {
  font-size: 1.7em;
  color: #222 !important;
  border: 3px solid #222 !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#mapCanvas {
  width: 99.6%;
  height: 575px;
  margin-top: 10px;
  margin-bottom: 35px;
  border-radius: 5px;
}

#infoPanel {
  float: left;
  margin-left: 10px;
}

#infoPanel div {
  margin-bottom: 5px;
}

.form-group {
  display: inline-block;
  font-size: 16px;
  background-color: #eee;
  border-radius: 10px;
}

.p-n-title {
  font-size: 3em;
  text-align: center;
  margin-bottom: -2px;
}

.input-group-lg {
  margin-bottom: 20px;
}

.map-instructions {
  font-size: 1em;
  margin-bottom: 25px;
}

#infolat, #infolng, #geo-continent, #markerStatus {
  display: none;
}

#geo-city, #geo-country {

}

.city-name {
  width: 49%;
  display: inline-block;
}

.country-name {
  width: 49%;
  display: inline-block;
}

.city-rating {
  width: 49.5%;
  display: block;
}

.hostel-name {
  width: 69%;
  display: inline-block;
}

.hostel-rating {
  width: 30%;
  display: inline-block;
}

.hostel-review-input {
  height: 100px !important;
}

.eatery-input {
  width: 49.4%;
  display: inline-block;
}

.eatery-dish-input {
  width: 49.5%;
  display: inline-block;
}

.sights-input {
  width: 32.7%;
  display: inline-block;
}

.photos-select {
  width: 32.7%;
  margin-bottom: 10px;
}

.photo-four {
  margin-bottom: 20px;
}

.pic-file {
  background-color: #ddd !important;
}

.safety-input {

}

.overall-input {
  height: 158px !important;
  margin-bottom: -30px;
}

#p-n-submit {
  background-color: #222 !important;
  color: #fff !important;
  height: 42px;
  width: 32.7%;
}

#p-n-submit:hover {
  background-color: #444 !important;
}

@media (max-width: 1440px) {
  .eatery-input {
    width: 49% !important;
  }
  .eatery-dish-input {
    width: 49.5% !important;
  }
  .sights-input {
    width: 32.37% !important;
    display: inline-block;
  }
}

@media (max-width: 1200px) {
  .eatery-input, .eatery-dish-input {
    width: 49.5% !important;
  }

  .sights-input {
    width: 99.8% !important;
  }
}

@media (max-width: 1050px) {
  .eatery-input, .eatery-dish-input {
    width: 99.9% !important;
  }

  .sights-input {
    width: 99.8% !important;
  }

  .p-n-title {
    font-size: 2.4em !important;
  }
}

@media (max-width: 550px) {
  .city-name, .country-name {
    width: 99.1% !important;
  }

  .p-n-title {
    font-size: 2.1em !important;
  }
}


/************************** POSTS (SHOW.HTML.ERB) ***************************/


.p-s-container {
  width: 80% !important;
}

#city-country-rating {
  display: table;
  margin: 0 auto;
}

.p-s-city-country {
  font-size: 2.7em;
  text-align: center;
  color: #222;
  margin-top: 30px;
  margin-bottom: 10px;
  display: block;
  font-weight: 400;
}

.p-s-user-submitted {
  text-align: center;
  font-size: 1.4em;
  color: #222;
  margin-top: -10px;
  margin-bottom: 30px;
}

.p-s-panel {
  border: 2px solid #111 !important;
}

.p-s-panel-heading {
  font-size: 2em;
  text-align: center;
  background-color: #222 !important;
  color: #fff !important;
  border: none !important;

  p {
    margin-top: -10px;
    margin-bottom: -10px;
  }
}

.p-s-panel-body {
  font-size: 1.85em;
  color: #222 !important;
  border: none !important;

  p {
    color: #197575;
  }
}

.p-s-image-div {
  display: inline-block;
  width: 24.7%;
}

.image-1234 {
  height: 270px;
  width: 270px;
  display: table;
  margin: 0 auto;
  border: 4px solid #222;
}

.post-image-one {
  float: left;
}

.post-image-four {
  float: right;
}

.c-filled, .c-empty {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1.5px solid #222;
  display: inline-block;
  margin-right: 3px;
  margin-left: 3px;
}

.c-filled {
  background-color: #479191;
}

.c-empty {
  background-color: none;
}

.eatery-span {
  font-weight: 500;
}

@media (max-width: 1700px) {
  .image-1234 {
    height: 240px !important;
    width: 240px !important;
  }

  .p-s-image-div {
    width: 24.5% !important;
  }
}

@media (max-width: 1440px) {
  .image-1234 {
    height: 210px !important;
    width: 210px !important;
    border: 3px solid #222;
  }

  .p-s-city-country {
    font-size: 2.5em !important;
  }
}

@media (max-width: 1200px) {
  .image-1234 {
    height: 180px !important;
    width: 180px !important;
    border: 3px solid #222;
  }
}

@media (max-width: 1050px) {
  .image-1234 {
    height: 160px !important;
    width: 160px !important;
    border: 3px solid #222;
  }

  .p-s-image-div {
    width: 24.4% !important;
  }
}

@media (max-width: 900px) {
  .image-1234 {
    height: 140px !important;
    width: 140px !important;
    border: 3px solid #222;
  }

  .p-s-image-div {
    width: 24.3% !important;
  }

  .p-s-city-country {
    font-size: 2.1em !important;
  }
}

@media (max-width: 800px) {
  .image-1234 {
    height: 210px !important;
    width: 210px !important;
    border: 3px solid #222 !important;
  }
  .p-s-image-div {
    width: 48% !important;
  }
  .post-image-one, .post-image-four {
    float: none !important;
  }
}

@media (max-width: 700px) {
  .image-1234 {
    height: 170px !important;
    width: 170px !important;
    border: 2px solid #222 !important;
  }

  .p-s-city-country {
    font-size: 1.9em !important;
  }
}

@media (max-width: 600px) {
  .image-1234 {
    height: 140px !important;
    width: 140px !important;
  }

  .p-s-city-country {
    font-size: 1.7em !important;
  }
}

@media (max-width: 500px) {
  .image-1234 {
    height: 120px !important;
    width: 120px !important;
  }
}

@media (max-width: 400px) {
  .image-1234 {
    height: 110px !important;
    width: 110px !important;
    border: 1.5px solid #222 !important;
  }
}


/************************* POSTS (EDIT.HTML.ERB) *************************/


#p-e-div {
  margin-top: 3%;
  margin-bottom: 4%;
  color: #006767;
  font-size: 1.6em;
  font-weight: 400;
  padding: 40px;
  border: 1px solid #999;
  border-radius: 10px;
}

.edit-safety {

}

.edit-overall {
  height: 120px !important;
}

.p-e-submit {
  background-color: #006767;
  color: #fff;
}


/************************* POSTS (ALL.HTML.ERB) *************************/


.p-a-div {
  width: 90%;
  display: block;
  margin: 0 auto;
  margin-top: 3%;
}

.p-a-entry-div {
  width: 19.7%;
  display: inline-block;
}

.p-a-entry {
  display: table;
  margin: 0 auto;
  margin-bottom: 30px;
}

.p-a-entry:hover {
  opacity: 0.75;
}

.p-a-photo-one {
  height: 180px;
  width: 270px;
  display: block;
}

.p-a-photo-234 {
  height: 90px;
  width: 90px;
}

/* CURRENT 270*5 = 1,350 */

@media (max-width: 1700px) {
  .p-a-photo-one {
    height: 140px;
    width: 210px;
  }

  .p-a-photo-234 {
    height: 70px;
    width: 70px;
  }

  #continent-list-div {
    font-size: 0.9em !important;
  }
}

@media (max-width: 1400px) {
  .p-a-photo-one {
    height: 160px;
    width: 240px;
  }

  .p-a-photo-234 {
    height: 80px;
    width: 80px;
  }

  .p-a-entry-div {
    width: 24.5%;
  }

  .p-a-city, .p-a-country {
    font-size: 1.2em !important;
  }

  #continent-list-div {
    font-size: 0.75em !important;
  }
}

@media (max-width: 1250px) {
  .p-a-photo-one {
    height: 148px;
    width: 222px;
  }

  .p-a-photo-234 {
    height: 74px;
    width: 74px;
  }

  .p-a-entry-div {
    width: 29.8%;
  }

  .p-a-city, .p-a-country {
    font-size: 1.2em !important;
  }
}

@media (max-width: 1100px) {
  .p-a-photo-one {
    height: 128px;
    width: 192px;
  }

  .p-a-photo-234 {
    height: 64px;
    width: 64px;
  }

  .p-a-entry-div {
    width: 29.8%;
  }

  .p-a-city, .p-a-country {
    font-size: 1.15em !important;
  }

  #continent-list-div {
    font-size: 0.65em !important;
  }
}

@media (max-width: 900px) {
  .p-a-photo-one {
    height: 180px;
    width: 270px;
  }

  .p-a-photo-234 {
    height: 90px;
    width: 90px;
  }

  .p-a-entry-div {
    width: 49.5%;
  }

  .p-a-city, .p-a-country {
    font-size: 1.3em !important;
  }

  #continent-list-div {
    font-size: 0.5em !important;
  }
}

@media (max-width: 700px) {
  .p-a-photo-one {
    height: 140px;
    width: 210px;
  }

  .p-a-photo-234 {
    height: 70px;
    width: 70px;
  }

  .p-a-entry-div {
    width: 49.5%;
  }

  #continent-list-div {
    font-size: 0.4em !important;
  }
}

@media (max-width: 550px) {
  .p-a-photo-one {
    height: 240px;
    width: 360px;
  }

  .p-a-photo-234 {
    height: 120px;
    width: 120px;
  }

  .p-a-entry-div {
    width: 100%;
  }

  .p-a-city, .p-a-country {
    font-size: 1.6em !important;
  }

  #continent-list-div {
    font-size: 0.25em !important;
  }
}

.p-a-city, .p-a-country {
  font-size: 1.3em;
  font-weight: 400;
  text-align: center;
  color: #444;
}

.p-a-city {
  margin-top: 12px;
}

.p-a-country {
  margin-top: -9px;
}

.p-a-rating {
  text-align: center;
  color: #444;
  margin-top: -7px;
}


/************************* POSTS (CONTINENTS.HTML.ERB) *************************/


#continent-list-div {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.continent {
  display: inline-block;
  text-align: center;
  width: 12.2%;
  font-size: 1.4em;
  border-radius: 4px;
  background-color: #222;

  a {
    color: #eee !important;
  }
}

.continent-active {
  display: inline-block;
  text-align: center;
  width: 12.2%;
  font-size: 1.4em;
  border-radius: 4px;
  background-color: #444;

  a {
    color: #eee !important;
  }
}











