// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*

#loggedInPage {
	font-size: 30px;
	color: #eeeeee;
	text-align: left;
	margin-top: 2%;
	margin-left: 2%;
	font-family: 'Ubuntu', sans-serif;
}

#logoutButton {
	font-size: 25px;
	color: red !important;
	text-align: left;
	margin-top: 2%;
	margin-right: 2%;
	font-family: 'Ubuntu', sans-serif;
}


*/