// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
   /** all except users#new **/
	font-family: 'Poppins' !important;
	font-weight: 300 !important;
	color: #777 !important;
}

/************************* USERS (NEW.HTML.ERB) *************************/

.u-n-nav {
  width: 100%;

  display: block;
  text-align: right;
  background-color: #222;

  span {
    font-size: 1.6em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  a, a:visited, a:hover {
    color: #fefefe;
    font-size: 1.1em;
  } 
}

#user-new-body {
	background: -webkit-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://s3-us-west-1.amazonaws.com/bpt-assets/bpt1.jpg');
	background: -moz-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://s3-us-west-1.amazonaws.com/bpt-assets/bpt1.jpg');
	background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('https://s3-us-west-1.amazonaws.com/bpt-assets/bpt1.jpg');
/*	-webkit-background-size: 100vw 100vh;
	-moz-background-size: 100vw 100vh;
	-o-background-size: 100vw 100vh;
	background-size: 100vw 100vh;*/
	font-family: 'Titillium Web' !important;
	margin: 0;
	padding: 0;
	height: 50vh;
	width: 100%;
}

#upper-div {
	background-color: #fff;
	height: 27vh;
	width: 100%;
}

#title {
	font-family: 'Exo' !important;
	font-size: 11em;
	font-weight: 700 !important;
	letter-spacing: 8px;
	text-align: center;
	padding-top: 20px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: white;
	background-size: contain;
}

@media (max-width: 1600px) {
	#title {
		font-size: 9em;
		padding-top: 40px;
	}
}

@media (max-width: 1300px) {
	#title {
		font-size: 8.5em;
		padding-top: 40px;
	}
}

@media (max-width: 1200px) {
	#title {
		font-size: 7em;
		padding-top: 40px;
	}
}

@media (max-width: 1000px) {
	#title {
		font-size: 6em;
		padding-top: 60px;
	}
}

@media (max-width: 800px) {
	#title {
		font-size: 4.5em;
		padding-top: 80px;
	}
}

@media (max-width: 700px) {
	#title {
		font-size: 3em;
		padding-top: 100px;
	}
}

@media (max-width: 550px) {
	#title {
		padding-top: 80px;
	}
}

#lower-div {
	height: 73vh;
	width: 100%;
	background: #111;
}

.info-one, .info-two, .info-three {
	width: 33%;
	display: inline-block;
}

.circle-one, .circle-two, .circle-three {
	border-radius: 50%;
	height: 440px;
	width: 440px;
	display: table;
	margin: 0 auto;
	margin-top: 20%;
	opacity: 0.8;
	position: relative;
	background-color: (0,0,0);
}

.circle-img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
	opacity: 0.65;
	position: absolute;
}

.circle-text {
	color: #fff;
	display: table;
	margin: 0 auto;
	margin-top: 39%;
	margin-left: 28%;
	font-size: 80px;
	opacity: 0.9;
	position: absolute;
}

.circle-one:hover, .circle-two:hover, .circle-three:hover {
	opacity: 0.3;
}

#root-login-div {
	margin-top: 42%;
}

#buttonOne {
	margin-right: 20px;
}

#buttonTwo {
	margin-left: 20px;
}

#buttonOne, #buttonTwo {
	height: 80px;
	width: 120px;
	font-size: 26px;
	background-color: #fff;
	border-radius: 3px;
	opacity: 0.75;
	/*box-shadow: inset 2px 2px 2px 2px #bbb;*/
}

#buttonOne:hover, #buttonTwo:hover {
	background-color: #fff !important;
	opacity: 0.9 !important;
}

.signUpIn-title {
	font-size: 45px;
	text-align: center;
	font-weight: 400;
	color: #444;
}

/*.btn-lg {
	background-color: #555 !important;
	color: #eee !important;
}*/


/************************* USERS (SHOW.HTML.ERB) *************************/	


.u-s-panel-heading {
	font-size: 1.8em;
	text-align: center;
	background-color: #006767 !important;
	color: #fff !important;
	border: none !important;
	text-align: center;

	.u-s-title {
		font-size: 1.7em;
	}

	.u-s-post-count {
		font-size: 1em;
		margin-top: -10px;
	}

	span {
		font-weight: 500;
	}

	img {
		margin-bottom: 25px;
	}
}

.u-s-panel-body {
	font-size: 2.3em;
	text-align: center;

	a {
		color: #444 !important;
	}
}

#logoutButton {
	font-size: 40px;
	text-align: center;
}

.panel {
	margin-top: 45px;
}


/************************* USERS (EDIT.HTML.ERB) *************************/


#u-e-div {
	font-size: 1.5em;
	color: #006767;
	font-weight: 400;
	margin-top: 100px;
	padding: 70px;
	border: 1px solid #999;
	border-radius: 10px;
}

.u-e-submit {
	background-color: #006767 !important;
	color: #fff !important;
}

.u-e-submit:hover {
	background-color: #014242 !important;
}






